@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

.card-samples {
  background-image: linear-gradient(
    to right,
    #eea2a2 0%,
    #bbc1bf 19%,
    #57c6e1 42%,
    #b49fda 79%,
    #7ac5d8 100%
  );
  min-height: 100vh;
}
.card-samples h1 {
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  text-transform: uppercase;
  padding: 2rem;
  letter-spacing: 3px;
  position: relative;
  color: #333;
}
.card-samples h1::after {
  content: '';
  width: 10rem;
  height: 0.8rem;
  background-color: #45e19f;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 2rem;
}

.myCards {
  font-family: 'Josefin Sans', sans-serif;
  display: grid;
  grid-template-columns: repeat(3, minmax(100px, 1fr));
  gap: 1rem;
  padding: 1rem;
  margin: 1rem;
}

@media (max-width: 990px) {
  .myCards {
    grid-template-columns: repeat(2, minmax(100px, 1fr));
  }
}
@media (max-width: 650px) {
  .myCards {
    grid-template-columns: repeat(1, minmax(100px, 1fr));
  }
}
