@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}

.likestask {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  padding: 2rem;
  background-image: linear-gradient(
    to right bottom,
    #051937,
    #004d7a,
    #008793,
    #00bf72,
    #a8eb12
  );
}

.buttons {
  display: flex;
}

.far,
.fas,
.fas.reset {
  font-size: 10rem;
}
.far:active,
.fas:active,
.fas.reset:active {
  box-shadow: -3px -5px 4px rgba(0, 0, 0, 0.4),
    3px 5px 4px rgba(255, 255, 255, 0.6);
}

.far {
  color: red;
}
.far:hover {
  font-weight: 600;
}

.fas {
  color: red;
}

.fas.reset {
  color: yellow;
}
.content {
  padding: 1rem;
  display: grid;
  place-items: center;
  margin: 0 auto;
  min-height: 50vh;
}
