@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Josefin Sans', sans-serif;
}

.viewbox {
  height: 100%;
  width: 100%;
}
.viewbox h1 {
  padding: 0 2rem;
}

.inputbox p {
  border-bottom: 1px solid #333;
  font-size: 1.3em;
}
