.newPost {
  padding: 2rem 0;
  text-align: center;
  min-height: 50vh;
}

.newPost div,
.newPost h1 {
  margin-bottom: 2rem;
}

.newPost label {
  width: 150px;
  display: inline-block;
  font-size: 1.3rem;
}

.newPost input,
.newPost textarea {
  width: 250px;
  border: 1px solid rgb(99, 99, 99);
  padding: 0.5rem;
  font-size: 1.2rem;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
  outline: none;
}
