@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Squada+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC:wght@900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.maintitle {
  display: grid;
  place-items: center;
}
.title h1 {
  font-size: 4.5rem;
  color: #e9e9e9;
  font-family: 'Squada One', cursive;
  padding: 3rem 0 0 1rem;
}

.image img {
  height: 470px;
  width: 490px;
  padding: 2rem 3rem 0 0;
}

.blog {
  padding: 1rem;
}
.blog h1 {
  margin: 0 0 2rem 0;
  text-align: center;
  color: #e9e9e9;
  font-size: 3rem;
}

.final-content {
  background: #222930;
  min-height: 100vh;
  font-family: 'Josefin Sans', sans-serif;
}

.brand.brandName {
  font-size: 2.2rem;
  font-weight: 700;
}

.links {
  font-size: 1.3rem;
  font-weight: 700;
}

.contactForm {
  padding: 2rem 1rem;
  margin: 2rem 0;
  font-size: 1.4rem;
  width: 60%;
  color: #4eb1ba;
}
