.circle {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  display: inline-block;
  margin: 0 20px;
  background: lightcyan;
  box-shadow: inset -5px -5px -5px rgba(255, 255, 255, 0.3),
    inset 5px 5px 5px rgba(0, 0, 0, 0.8),
    -15px -15px -15px rgba(255, 255, 255, 0.3);
}
