@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
button {
  font-family: 'MedievalSharp', cursive;
}
.mygame {
  display: grid;
  place-items: center;
  min-height: 650px;
  text-align: center;
  background-image: linear-gradient(
      to top left,
      rgba(105, 86, 22, 0.52),
      rgba(47, 29, 53, 0.73)
    ),
    url('https://images.unsplash.com/photo-1476610182048-b716b8518aae?ixlib=rb-1.2.1&auto=format&fit=crop&w=1427&q=80');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

.header h1 {
  font-size: 3em;
  font-weight: 600;
  text-transform: uppercase;
  color: cyan;
  margin-bottom: 10px;
}
.score {
  height: 80px;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  color: #fff;
  font-weight: 900;
  text-transform: uppercase;
  margin-top: 20px;
}

.scorecard {
  font-size: 3em;
}

button {
  margin: 0 15px;
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
  outline: none;
  font-size: 1em;
  font-weight: 600;
  color: red;
  box-shadow: inset -5px -5px 5px rgba(255, 255, 255, 0.1),
    inset 5px 5px 5px rgba(0, 0, 0, 0.4),
    -15px -15px 25px rgba(255, 255, 255, 0.2), 15px 15px 25px rgba(0, 0, 0, 0.2);
}
